.App {
  text-align: center;
  background-color: blanchedalmond;
  height: 100%;
}


.header {
  margin-left: 200px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.content {
  margin-left: 200px;
  background-color:grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sidebar {
  background-color: #f5f5f5;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 9999;
  overflow-y: auto;
}



.sidebar ul {
  margin: 10;
  padding: 0;
  list-style: none;
}

.sidebar li {
  padding: 16px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}

